package {{.DomainL}}db

import (
    "fmt"
    "strings"

    "{{.Module}}/internal/business/domain/{{.DomainL}}"
    "{{.Module}}/internal/business/sdk/order"
)

var orderByFields = map[string]string{
    {{.DomainL}}.OrderByCreatedAt: "created_at",
    {{.DomainL}}.OrderByUpdatedAt: "updated_at",
}

func (s *Store) orderByClause(orderBy order.By, sb *strings.Builder) error {
    by, exists := orderByFields[orderBy.Field]
    if !exists {
        return fmt.Errorf("field %q does not exist", orderBy.Field)
    }

    sb.WriteString(" ORDER BY ")
    sb.WriteString(by)
    sb.WriteString(" ")
    sb.WriteString(orderBy.Direction)
    return nil
}
